body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 20px;
}
.info-block{
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/back.png') no-repeat center / cover;
}
.info-block__content {
  padding: 50px 0;
}
.info-block__text {
  margin: 0;
  color: #fff;
}
