body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 20px;
}
.info-block {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/sea.png') no-repeat center / cover;
}

.info-block__content {
  color: #fff;
}
.info-block__title {
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0 40px 0;
}

.info-block__text {
  margin: 0;
}
