//Open Sans Condensed
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic');
// Bebas Neue
@import url('http://allfont.ru/allfont.css?fonts=bebas-neue');
//Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
// Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap&subset=cyrillic-ext,latin-ext');
// Reboot
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css');

// body {
//   font-family: 'Open Sans Condensed', sans-serif !important;
//   color: #000;
//   font-size: 20px;
//   line-height: 27px;
// }

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 20px;
}
.info-block {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/sea.png') no-repeat center / cover;
}

.info-block__content {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.info-block__title {
  color: #fff;
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0 40px 0;
}

.info-block__ava img {
  margin: 0 20px 70px 0;
  width: 280px;
  height: 265px;
}

.info-block__text {
  font-size: 20px;
  line-height: 27px;
}

.info-block__button {
  width: 127px;
  height: 44px;
  color: black;
  background-color: #ffe01b;
  font-size: 24px;
  align-items: center;
  text-transform: uppercase;
}
