.header {
  &__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
&__brand img {
  width: 115px;
  height: 47.57px;
  margin: 27px 0 27px 0;
}
&__links {
  display: flex;
  align-items: center;
}
&__link {
  font-size: 16px;
  line-height: 54px;
  margin-left: 12px;
  color:black;
}
}
