.yellow-button {
    background-color:#ffe01b;
    width: 127px;
    height: 44px;
    }

.yellow-button__link {
        color: black;
        font-family: 'Bebas Neue', arial;
        text-transform: uppercase;
        font-size: 24px;
        display: flex;
        align-items: center;
        text-align: center;
    }