@mixin mix {
    width: 200px;
    height: 200px;
}

.fixed {
    @include mix;
    background-color: red;
}

.absolute {
    @include mix;
    background-color: yellow;
}

.relative {
    @include mix'
    background-color: green;
}

.static {
    @include mix;
    background-color: blue;
}