body {
  background-color: #f5faff;
}

.header {
  &__content {
    display: flex;
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #3A4959;
  }
  &__sprite {
    width: 221.07px;
    height: 65.68px;
    background-image: url("./img/sprite.png");
    background-position: left -2px;
  }
  &__menu {
    margin: 19px 0 28px 78.93px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
  }
  &__link {
    margin-right: 27px;
  }
  &__contact {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin: 17px 0 26px 200px;
  }
  &__button {
    width: 210px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
    background: #FFCE51;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 0 30px;
  }
}


  .strip-left {
  background-color:#056CDE;
  border-radius: 10px;
  width: 110px;
  height: 5px;
  margin: 75px 0 0 100px;
}

.picture {
  &__bone img {
    position: absolute;
    margin: 15px 0 0 687px;
    // width: 296px;
    height: 567px;
    z-index: 1;
  }
  &__boneback img {
    position: absolute;
    margin: 52px 0 0 607px;
    width: 560px;
    height: 504px;
  }
}

.main {
  &__title {
    font-family: 'Monteserrat', sans-serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 67px;
    letter-spacing: 1px;
    color: #3A4959;
    width: 480px;
    margin: 30px 0 0 100px;
  }
  &__discription {
    margin: 30px 0 0 100px;
    width: 480px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 29px;
  }
  &__button {
    background-color: #056CDE;
    border-radius: 10px;
    width: 310px;
    height: 50px;
    margin: 30px 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 22px;
    color: #fff;
  }
  &__sprites {
    width: 120px;
    height: 30px;
    background-image: url("./img/sprite.png");
    background-position: 300px -68px;
    margin: 108.53px 0 0 99.7px;
  }
}

.massage {
  &__girl {
    width: 540px;
    height: 440px;
  }
}