<div class="news-card">
    <div class="news-card__shadow-wrapper"></div>
    <div class="news-card__img"></div>
    <div class="news-card__content">
        <div class="news-card__title">Сегодня ходил в клуб Заря</div>
        <div class="news-card__discription">123</div>
        <div class="news-card__button">
            @@include('./src/components/yellow-button.html',{
                "text": "Перейти к новости",
                "href": "news-page.html"
            })
            <div class="news-card__date">26.06.2019</div>
        </div>
    </div>
</div>